.heading1 {
  text-align: center;
  background-color: rgba(55, 55, 55, 0.8);
  padding: 10px;
  color: white;
  font-weight: bold;
}
.left {

  margin-top:20px;
  padding:20px;
  background-image: url("./icons/arrow-back.svg");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position:left;
}
.heading2 {
  background: rgb(230, 230, 230);
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
}
.search-book {
  width: 100%;
  padding: 20px 20px 20px 20px;
  
  background-color: white;
  background-size: 1.2em;
  font-size: 1.2em;
 
  box-shadow: -4px 21px 89px -20px rgba(0,0,0,0.75);
}
.search-book input{
  border:none;
   margin-left: 5px;
  width:80%;

}
.search-book input:focus{
  outline:none;
}
.card {
  width: 250px;
  height: 400px;
}

body {
  background-color: rgba(40, 40, 40, 0.8);
}
.book-card {
  height: 200px;
  width: 248px;
}
.book-data {
  height: 170px;
  width: 158px;
}
.drop-button {
  position: absolute;
  bottom: 0;
  right: 0;
}
a {
  text-decoration: none !important;
  color: black !important;
}
.active {
  background: blue;
  padding: 2px;
  color: white !important;
}
.fixedbottom {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  font-size: 20px;
  background-image: url("plus.png");
  background-position: center;
  background-size: 90% 90%;
  position: fixed;
  bottom: 0px;
  right: 5px;
}
